@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
body {
  background-color: #282c34;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}
.todo-fab {
  position: fixed;
  border: none;
  color: aqua;
  border-radius: 50%;
  padding: 25px;
  font-size: 20px;
  right: 30px;
  bottom: 30px;
  background-color: #4B515C;
  
}
.todo-fab:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px rgb(207, 207, 207);
}
.todo-header{
  color: aqua;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid;
  border-color: #878D99;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.todo-header__icon {
  font-size: 30px;
  background-color: #4B515C;
  padding: 5px;
  margin: 0 10px;
  border-radius: 50%;
}
.todo-board {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-evenly;
  
}

.todo-column {
  width: 25%;
  border-radius: 5px;
  background-color: rgb(24, 26, 27);
  padding: 15px;
  color: white;
}

.todo-column--header {
  border-bottom: 5px solid ;
}

.todo {
  border-color: rgb(30, 70, 109);
}
.inProgress {
  border-color: rgb(109, 30, 30);
}
.completed {
  border-color: rgb(30, 109, 37);
}

.todo-item {
  padding: 20px 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-left: 3px solid ;
}
.todo-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px rgb(58, 58, 58);
}
.todo-item__todo {
  background-color: rgb(30, 32, 33);
  border-color: rgb(30, 70, 109);
}
.todo-item__inProgress {
  background-color: rgb(50, 13, 13);
  border-color: rgb(109, 30, 30);
}
.todo-item__completed {
  background-color: rgb(13, 50, 34);
  border-color: rgb(30, 109, 37);
}
